body {
	background: #ECECEC;
	width: 1250px;
	height: 1500px;
}

.header {
	margin: 45px 50px 0 50px;
}

.header__wrap {
	display: flex;
	justify-content: space-between;
}

.product {
	font-family: Roboto;
	color:  #303030;
	font-size: 48px;
	font-weight: 900;
	line-height: 27px;
}

.menu {
	display: flex;
	list-style: none;
}

.menu__item {
	margin: 20px 0 0 50px;
}


.menu__link {
	font-family: Roboto;
	color:  #303030;
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	text-decoration: none;
}

.menu__link:hover {
	color: #e10011;
}

.main {
	float: left;
	max-width: 600px;
}

.main__img {
	margin: 10% 0 0 60%;
}

.main__name {
	margin: 120px 0 55px 0;
	text-align: right;
	font-family: Raleway;
	color:  #303030;
	font-size: 150px;
	font-weight: 900;
	line-height: 150px;
	text-transform: uppercase;
}


.text__lorem {
	font-family: Roboto;
	color:  #303030;
	font-size: 24px;
	font-weight: 300;
	line-height: 36px;
	text-align: right;
}


.text__project {
	text-decoration: none;
	font-family: Roboto;
	color:  #e10011;
	font-size: 24px;
	font-weight: 700;
	line-height: 36px;
	float: right;
}

.text__project:hover {
	color: #303030;
}

ul.product__color {
	margin-top: 90px;
	margin-left: -38%;
	cursor: pointer;
}

.product__color li {
	  height: 11px;
    width: 11px;
    vertical-align: middle;
    display: inline-block;
    margin: 0 3px;
    list-style: none;
    background: white;
    border-radius: 50%;
}

.product__color li:nth-child(1) {
  background:#e10011;
}
.product__color li:nth-child(2) {
  background:#303030;
}
.product__color li:nth-child(3) {
  background:#303030;
}

.product__color li:hover {
	height: 15px;
	width: 15px;
}

.featured__product {
	text-align: center;
	border-radius: 5px;
	margin: 85px 50px 50px 50px;
	width: 1150px;
	height: 1200px;
	background-color: #fff;
}

.caption {
	font-family: Raleway;
	color:  #303030;
	font-size: 48px;
	font-weight: 900;
	line-height: 150px;
	text-align: center;
	margin: 0;
}

.product__text {
	font-family: Raleway;
	color:  #303030;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 5%;
}


.featured__product a {
	display: inline-block;
	padding: 15px;
}

a.import__img1 {
	background: url(../img/img1.png) no-repeat;
	width: 692px;
	height: 387px;
	border-radius: 5px;	
}

a.import__img2 {
	background: url(../img/img2.png) no-repeat;
	width: 291px;
	height: 387px;
}

a.import__img3 {
	background: url(../img/img3.png) no-repeat;
	width: 328px;
	height: 387px;
	margin-left: 35px;
}

a.import__img3:hover{
	background: url(../img/img6.png) no-repeat;
}

a.import__img4 {
	background: url(../img/img4.png) no-repeat;
	width: 329px;
	height: 387px;
}

a.import__img5 {
	background: url(../img/img5.png) no-repeat;
	width: 328px;
	height: 387px;
}


